<a href="https://colab.research.google.com/github/DevBatra05/Codes/blob/main/lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
birth_year = int(input("what is my age? "))
age= 2024 - birth_year
print(age)

what is my age? 2004
20

In [29]:
a=12
b=20.3
c=a+b
print(c)
print(type(c))

32.3
<class 'float'>

In [32]:
name=input('what is your name?')
SAP_ID=int(input('enter your SAP'))
course=input('what is your course?')
year= int(input('write your current year'))
city= input('name the city u live')
print(name)
print(SAP_ID)
print(course)
print(year)
print(city)

what is your name?dev mudit
enter your SAP6282
what is your course?btech
write your current year2024
name the city u livebharat
dev mudit
6282
btech
2024
bharat